@model MvcProject99.Models.Warehouse

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+ESOUHeCgh3Q8kNC8Ll/3pgeIbbXGTFPpV4fDQg" crossorigin="anonymous"></script>

<script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
<link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/css/home.css" rel="stylesheet" />
<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">F.G</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li> -->
                    <li class="nav-item">
                        
                        @if (TempData["userName"] != null)
                        {


                            <h5 style="font-family:'Gill Sans';">@TempData["userName"]</h5>
                            // Keep the TempData value for subsequent requests
                            TempData.Keep("userName");
                           
                        }else{
                        <a class="nav-link" href="Form/Signup"><i class="fa-solid fa-user-plus"></i></a>
                        }
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @{
                                    // Sort the products list by counter in descending order
                                    var sortedProducts = Model.products.OrderByDescending(p => p.Counter).ToList();

                                    // Select the top products (e.g., top 3)
                                    var topProducts = sortedProducts.Take(3); // Change 3 to the desired number of top products to display
                                }
                                <form action="/" method="post">
                                    <input type="hidden" name="TopSeller" value="top" />

                                    <button type="submit" class="w3-bar-item w3-button w3-hover-white company-link">Best-Seller</button>
                                </form>
                            </li>
                            <li>
                                @{
                                    // Filter products with discount
                                    var discountedProducts = Model.products.Where(p => p.Discount > 0);
                                }
                                <form action="/" method="post">
                                    <input type="hidden" name="hasDiscount" value="discount" />

                                    <button type="submit" class="w3-bar-item w3-button w3-hover-white company-link">Products in discount</button>
                                </form>
                            </li>
                            
                        </ul>
                    </li>
                    
                </ul>
                <div style="padding-right: 20px;">
                    <a class="btn btn-outline-dark btn-lg" href="/Form/Cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <form action="/Form/SearchPage" method="post" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="FGname" value="@Model.FGname">
                    <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
</div>
      </nav>
     
<div style="text-align:center;">
    <img src="https://img.freepik.com/premium-vector/perfume-bottle-icon-set-with-white-background-thin-line-style-stock-vectoreps-10_926273-260.jpg" alt="">
</div>
    </div>
<div>
    <nav style="width:200px;" class="w3-sidebar w3-light w3-collapse  w3-large txt navw3 " style="z-index:3;width:250px;font-weight:bold;" id="mySidebar">
        <br>
        <!-- <div class="w3-container">
            <h3 class="w3-padding-64"><b>Community bank</b></h3>
        </div> -->
        @{
            // Filter out duplicate products based on company name
            var uniqueCompanies = Model.products.Select(p => p.Company).Distinct().ToList();
        }

        <div class="w3-bar-block">
            <h3 style="text-decoration: underline;">->Category</h3>
            @foreach (string company in uniqueCompanies)
            {
                <ul>
                    <li>
                        <form action="/" method="post">
                            <input type="hidden" name="CatgN" value="@company" />
                            <button type="submit" class="w3-bar-item w3-button w3-hover-green company-link">@company</button>
                        </form>
                    </li>
                </ul>
                
            }
            <p><h3 style="text-decoration:underline;">->sorted by price</h3></p>
            @{
                var priceRange = new List<(int Min, int Max)>
            {
                (100, 300),
                (300, 500),
                (500,700)
            // Add more ranges as needed
            };

            }
            @foreach(var range in priceRange)
            {
                @* <form action="/" method="post">
                    <input type="hidden" name="CatgP" value="@price" />
                    <button type="submit" class="w3-bar-item w3-button w3-hover-white company-link">@price</button>
                </form> *@
                <ul>
                    <li>
                        <form action="/" method="post">
                            <input type="hidden" name="MinPrice" value="@range.Min" />
                            <input type="hidden" name="MaxPrice" value="@range.Max" />
                            <button type="submit" class="w3-bar-item w3-button w3-hover-red company-link">@($"{range.Min} - {range.Max}")</button>
                        </form>
                    </li>
                </ul>
                

            }
            

           

        </div>

        </div>
    </nav>
</div>
<div style="padding-left:20% ; padding-top: 2%;" class="row">

    @foreach (AddingProducts item in Model.products)
    {
        if (Model.CatgN == item.Company)
        {
            <div class="col-lg-4" style="padding-top: 2%;">
                <div class="card" style="width: 18rem;">
                    <div style="width: 12rem; padding-left:25%;">
                        <img src="@item.ImageURL" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@item.PName</h3>
                        <p class="card-text">Intense: @item.Intense</p>
                        <p class="card-text">Company: @item.Company</p>
                        <p class="card-text" style="@(item.Discount > 0 ? "text-decoration: line-through;" : "")">Original Price:@item.Price$</p>
                        @if (item.Discount > 0)
                        {
                            <p class="card-text">Discount: @item.Discount %</p>
                            @*                         AddingProducts discountedPrice = item.Price * (1 - (item.Discount / 100));
                *@                        <p class="card-text">After Discount:@(item.Price - (item.Price * item.Discount / 100))$</p>
                            @*                          <p class="card-text">Price after Discount: @discountedPrice</p>
                *@                    }
                        <p class="card-text">Amount: @item.Amount</p>
                        @if (item.Amount == 0)
                        {
                            <p class="card-text" style="color:red">
                                out of stock
                            </p>
                            var message = "You need to order product: " + item.PName;
                            <form action="Form/Request" method="post">
                                <input type="hidden" name="message" value="@message" />
                                <button type="submit" class="btn btn-outline-dark">Click here to order <i class="fa-solid fa-share"></i></button>
                            </form>
                        }
                        else
                        {
                            <form action="Form/BuyNow" method="post">
                                <input type="hidden" name="purchasedProduct.PName" value="@item.PName" />
                                <input type="hidden" name="purchasedProduct.Intense" value="@item.Intense" />
                                <input type="hidden" name="purchasedProduct.Company" value="@item.Company" />
                                <input type="hidden" name="purchasedProduct.Price" value="@item.Price" />
                                <input type="hidden" name="purchasedProduct.Discount" value="@item.Discount" />
                                <input type="hidden" name="purchasedProduct.ImageURL" value="@item.ImageURL" />
                                <input type="hidden" name="purchasedProduct.Amount" value="@item.Amount" />
                                <button class="btn btn-primary">Add to cart <i class="fa-solid fa-plus"></i></button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
        else if (Model.CatgN == null && Model.MinPrice == 0 && Model.MaxPrice == 0 && Model.TopSeller==null&& Model.hasDiscount==null)
        {
            <div class="col-lg-4" style="padding-top: 2%;">
                <div class="card" style="width: 18rem;">
                    <div style="width: 12rem; padding-left:25%;">
                        <img src="@item.ImageURL" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@item.PName</h3>
                        <p class="card-text">Intense: @item.Intense</p>
                        <p class="card-text">Company: @item.Company</p>
                        <p class="card-text" style="@(item.Discount > 0 ? "text-decoration: line-through;color:orange;" : "")">Original Price:@item.Price$</p>
                        @if (item.Discount > 0)
                        {
                            <p class="card-text">Discount: @item.Discount %</p>
                            @*                         AddingProducts discountedPrice = item.Price * (1 - (item.Discount / 100));
                *@                        <p class="card-text">After Discount:@(item.Price - (item.Price * item.Discount / 100))$</p>
                            @*                          <p class="card-text">Price after Discount: @discountedPrice</p>
                *@                    }
                        <p class="card-text">Amount: @item.Amount</p>
                        @if (item.Amount == 0)
                        {
                            <p class="card-text" style="color:red">
                                out of stock
                            </p>
                            var message = "You need to order product: " + item.PName;
                            <form action="Form/Request" method="post">
                                <input type="hidden" name="message" value="@message" />
                                <button type="submit" class="btn btn-outline-dark">Click here to order <i class="fa-solid fa-share"></i></button>
                            </form>
                        }
                        else
                        {
                        <form action="Form/BuyNow" method="post">
                            <input type="hidden" name="purchasedProduct.PName" value="@item.PName" />
                            <input type="hidden" name="purchasedProduct.Intense" value="@item.Intense" />
                            <input type="hidden" name="purchasedProduct.Company" value="@item.Company" />
                            <input type="hidden" name="purchasedProduct.Price" value="@item.Price" />
                            <input type="hidden" name="purchasedProduct.Discount" value="@item.Discount" />
                            <input type="hidden" name="purchasedProduct.ImageURL" value="@item.ImageURL"/>
                            <input type="hidden" name="purchasedProduct.Amount" value="@item.Amount" />
                            <button class="btn btn-primary">Add to cart <i class="fa-solid fa-plus"></i></button>
                        </form>
                        }
                    </div>
                </div>
            </div>
        }
        if (item.Price >= Model.MinPrice && item.Price <= Model.MaxPrice)
        {
            <div class="col-lg-4" style="padding-top: 2%;">
                <div class="card" style="width: 18rem;">
                    <div style="width: 12rem; padding-left:25%;">
                        <img src="@item.ImageURL" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@item.PName</h3>5>
                        <p class="card-text">Intense: @item.Intense</p>
                        <p class="card-text">Company: @item.Company</p>
                        <p class="card-text" style="@(item.Discount > 0 ? "text-decoration: line-through;" : "")">Original Price:@item.Price$</p>
                        @if (item.Discount > 0)
                        {
                            <p class="card-text">Discount: @item.Discount %</p>
                            @*                         AddingProducts discountedPrice = item.Price * (1 - (item.Discount / 100));
                *@                        <p class="card-text">After Discount:@(item.Price - (item.Price * item.Discount / 100))$</p>
                            @*                          <p class="card-text">Price after Discount: @discountedPrice</p>
                *@                    }
                        <p class="card-text">Amount: @item.Amount</p>
                        @if (item.Amount == 0)
                        {
                            <p class="card-text" style="color:red">
                                out of stock
                            </p>
                            var message = "You need to order product: " + item.PName;
                            <form action="Form/Request" method="post">
                                <input type="hidden" name="message" value="@message" />
                                <button type="submit" class="btn btn-outline-dark">Click here to order <i class="fa-solid fa-share"></i></button>
                            </form>
                        }
                        else
                        {
                            <form action="Form/BuyNow" method="post">
                                <input type="hidden" name="purchasedProduct.PName" value="@item.PName" />
                                <input type="hidden" name="purchasedProduct.Intense" value="@item.Intense" />
                                <input type="hidden" name="purchasedProduct.Company" value="@item.Company" />
                                <input type="hidden" name="purchasedProduct.Price" value="@item.Price" />
                                <input type="hidden" name="purchasedProduct.Discount" value="@item.Discount" />
                                <input type="hidden" name="purchasedProduct.ImageURL" value="@item.ImageURL" />
                                <input type="hidden" name="purchasedProduct.Amount" value="@item.Amount" />
                                <button class="btn btn-primary">Add to cart <i class="fa-solid fa-plus"></i></button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }

    }
    @if (Model.TopSeller =="top")
    {
        @foreach (var item in topProducts)
        {
            <div class="col-lg-4" style="padding-top: 2%;">
                <div class="card" style="width: 18rem;">
                    <div style="width: 12rem; padding-left:25%;">
                        <img src="@item.ImageURL" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@item.PName</h3>
                        <p class="card-text">Intense: @item.Intense</p>
                        <p class="card-text">Company: @item.Company</p>
                        <p class="card-text" style="@(item.Discount > 0 ? "text-decoration: line-through;" : "")">Original Price:@item.Price$</p>
                        @if (item.Discount > 0)
                        {
                            <p class="card-text">Discount: @item.Discount %</p>
                            @*                         AddingProducts discountedPrice = item.Price * (1 - (item.Discount / 100));
                *@                        <p class="card-text">After Discount:@(item.Price - (item.Price * item.Discount / 100))$</p>
                            @*                          <p class="card-text">Price after Discount: @discountedPrice</p>
                *@                    }
                        <p class="card-text">Amount: @item.Amount</p>
                        @if (item.Amount == 0)
                        {
                            <p class="card-text" style="color:red">
                                out of stock
                            </p>
                            var message = "You need to order product: " + item.PName;
                            <form action="Form/Request" method="post">
                                <input type="hidden" name="message" value="@message" />
                                <button type="submit" class="btn btn-outline-dark">Click here to order <i class="fa-solid fa-share"></i></button>
                            </form>
                        }
                        else
                        {
                            <form action="Form/BuyNow" method="post">
                                <input type="hidden" name="purchasedProduct.PName" value="@item.PName" />
                                <input type="hidden" name="purchasedProduct.Intense" value="@item.Intense" />
                                <input type="hidden" name="purchasedProduct.Company" value="@item.Company" />
                                <input type="hidden" name="purchasedProduct.Price" value="@item.Price" />
                                <input type="hidden" name="purchasedProduct.Discount" value="@item.Discount" />
                                <input type="hidden" name="purchasedProduct.ImageURL" value="@item.ImageURL" />
                                <input type="hidden" name="purchasedProduct.Amount" value="@item.Amount" />
                                <button class="btn btn-primary">Add to cart <i class="fa-solid fa-plus"></i></button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    }
    @if (Model.hasDiscount == "discount")
    {
        @foreach (var item in discountedProducts)
        {
            <div class="col-lg-4" style="padding-top: 2%;">
                <div class="card" style="width: 18rem;">
                    <div style="width: 12rem; padding-left:25%;">
                        <img src="@item.ImageURL" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@item.PName</h3>
                        <p class="card-text">Intense: @item.Intense</p>
                        <p class="card-text">Company: @item.Company</p>
                        <p class="card-text" style="@(item.Discount > 0 ? "text-decoration: line-through;" : "")">Original Price:@item.Price$</p>
                        @if (item.Discount > 0)
                        {
                            <p class="card-text">Discount: @item.Discount %</p>
                            @*                         AddingProducts discountedPrice = item.Price * (1 - (item.Discount / 100));
                *@                        <p class="card-text">After Discount:@(item.Price - (item.Price * item.Discount / 100))$</p>
                            @*                          <p class="card-text">Price after Discount: @discountedPrice</p>
                *@                    }
                        <p class="card-text">Amount: @item.Amount</p>
                        @if (item.Amount == 0)
                        {
                            <p class="card-text" style="color:red">
                                out of stock
                            </p>
                            var message = "You need to order product: " + item.PName;
                            <form action="Form/Request" method="post">
                                <input type="hidden" name="message" value="@message" />
                                <button type="submit" class="btn btn-outline-dark">Click here to order <i class="fa-solid fa-share"></i></button>
                            </form>
                        }
                        else
                        {
                            <form action="Form/BuyNow" method="post">
                                <input type="hidden" name="purchasedProduct.PName" value="@item.PName" />
                                <input type="hidden" name="purchasedProduct.Intense" value="@item.Intense" />
                                <input type="hidden" name="purchasedProduct.Company" value="@item.Company" />
                                <input type="hidden" name="purchasedProduct.Price" value="@item.Price" />
                                <input type="hidden" name="purchasedProduct.Discount" value="@item.Discount" />
                                <input type="hidden" name="purchasedProduct.ImageURL" value="@item.ImageURL" />
                                <input type="hidden" name="purchasedProduct.Amount" value="@item.Amount" />
                                <button class="btn btn-primary">Add to cart <i class="fa-solid fa-plus"></i></button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
