@model MvcProject99.Models.SignupModel
<link href="~/css/signup.css" rel="stylesheet" />
<div class="wrapper" style="text-align:center;">
    <h2>Registration</h2>
    <form action="GetDeatils" method="post">
        <div class="input-box">
            <div> @Html.ValidationMessageFor(x => x.FirstName) </div>
            <input name="FirstName" value="@Model.FirstName" type="text" placeholder="Enter your name" required>
        </div>
        <div class="input-box">
            <div> @Html.ValidationMessageFor(x => x.Email) </div>
            <input name="Email" value="@Model.Email" type="text" placeholder="Enter your email" required>
        </div>
        <div class="input-box">
            <div> @Html.ValidationMessageFor(x => x.Password) </div>
            <input name="Password" value="@Model.Password" type="password" placeholder="Create password" required>
        </div>
        <!--<div class="input-box">
            <input type="password" placeholder="Confirm password" required>
        </div>-->
        <div class="policy">
            <input type="checkbox">
            <h3>I accept all terms & condition</h3>
        </div>
        <div class="input-box button">
            <input type="Submit" value="Register Now">
        </div>
        <div class="text">
            <h3>Already have an account? <a href="/Form/Login">Login now</a></h3>
        </div>
    </form>
</div>